includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max

    paths:
        - bin
        - src

    ignoreErrors:
        -
            messages:
                - '#Parameter \#1 \$data of static method#'
                - '#Cannot access offset#'
            path: src/Lambda/Invocation/Events/EventFactory.php
